<a href="https://colab.research.google.com/github/mavischan01/medill_advanced_data_journalism/blob/main/ILMMAIenrollment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%pip install tabula-py
%pip install JPype1
%pip install pandas

Collecting tabula-py
  Downloading tabula_py-2.10.0-py3-none-any.whl.metadata (7.6 kB)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.11/dist-packages (from tabula-py) (2.2.2)
Requirement already satisfied: numpy>1.24.4 in /usr/local/lib/python3.11/dist-packages (from tabula-py) (2.0.2)
Requirement already satisfied: distro in /usr/local/lib/python3.11/dist-packages (from tabula-py) (1.9.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.25.3->tabula-py) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.25.3->tabula-py) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.25.3->tabula-py) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=0.25.3->tabula-py) (1.17.0)
Downloading tabula_py-2.10.0-py3-none-any.whl (12.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 90.9 MB/s eta 0:00:00
Installing collected packages: tabula-py
Successfully installed tabula-py-2.10.0
Collecting JPype1
  Downloading jpype1-1.6.0-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (5.0 kB)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from JPype1) (25.0)
Downloading jpype1-1.6.0-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (496 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 496.6/496.6 kB 7.7 MB/s eta 0:00:00
Installing collected packages: JPype1
Successfully installed JPype1-1.6.0
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [4]:
import tabula
import pandas

In [5]:
url = 'https://hfs.illinois.gov/content/dam/soi/en/web/hfs/sitecollectiondocuments/202507mcoaer.pdf'
tables = tabula.read_pdf(url)
print(type(tables))
print(len(tables))

WARNING:tabula.util:'pages' argument isn't specified.Will extract only from page 1 by default.

<class 'list'>
1

In [6]:
table = tables[0]
table

,Unnamed: 0,Unnamed: 1,Blue Cross/,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,Aetna Better,Blue Shield,Humana,Meridian,Molina,NaN
1,County,Health,of Illinois,Health Plan,Health Plan,Healthcare,County Total
2,Adams,99,48,9,159,240,555
3,Alexander,36,16,24,6,17,99
4,Bond,13,*,16,13,40,82
5,Boone,83,24,58,47,73,285
6,Brown,*,*,*,11,6,17
7,Bureau,83,9,31,37,69,229
8,Calhoun,14,*,6,6,14,40
9,Carroll,9,*,16,81,26,132
10,Cass,16,12,20,24,34,106
11,Champaign,73,17,53,185,999,"1,327"
12,Christian,31,21,38,30,91,211
13,Clark,29,*,22,30,33,114
14,Clay,19,*,13,14,14,60
15,Clinton,14,*,21,9,56,100
16,Coles,94,42,46,147,162,491
17,Cook,"6,523","11,253","6,767","7,645","2,691","34,879"
18,Crawford,12,*,9,7,13,41
19,Cumberland,16,*,14,15,20,65
20,DeWitt,14,*,8,6,78,106
21,Dekalb,56,174,138,36,33,437
22,Douglas,25,7,9,32,66,139
23,DuPage,618,"1,665","1,007",512,213,"4,015"
24,Edgar,20,19,43,20,84,186
25,Edwards,7,*,7,*,16,30
26,Effingham,40,6,*,30,80,156
27,Fayette,26,16,23,34,39,138
28,Ford,17,*,*,11,80,108
29,Franklin,152,29,123,34,153,491
30,Fulton,105,19,62,39,122,347
31,Gallatin,12,*,9,*,23,44
32,Greene,27,9,21,14,31,102
33,Grundy,29,41,31,72,24,197
34,Hamilton,17,*,14,12,20,63
35,Hancock,15,*,6,24,24,69

In [7]:
tables = tabula.read_pdf(url, pages = 'all')
print(len(tables))

8

In [8]:
tables

[    Unnamed: 0    Unnamed: 1  Blue Cross/   Unnamed: 2   Unnamed: 3  \
 0          NaN  Aetna Better  Blue Shield       Humana     Meridian
 1       County        Health  of Illinois  Health Plan  Health Plan
 2        Adams            99           48            9          159
 3    Alexander            36           16           24            6
 4         Bond            13            *           16           13
 5        Boone            83           24           58           47
 6        Brown             *            *            *           11
 7       Bureau            83            9           31           37
 8      Calhoun            14            *            6            6
 9      Carroll             9            *           16           81
 10        Cass            16           12           20           24
 11   Champaign            73           17           53          185
 12   Christian            31           21           38           30
 13       Clark            29            *           22           30
 14        Clay            19            *           13           14
 15     Clinton            14            *           21            9
 16       Coles            94           42           46          147
 17        Cook         6,523       11,253        6,767        7,645
 18    Crawford            12            *            9            7
 19  Cumberland            16            *           14           15
 20      DeWitt            14            *            8            6
 21      Dekalb            56          174          138           36
 22     Douglas            25            7            9           32
 23      DuPage           618        1,665        1,007          512
 24       Edgar            20           19           43           20
 25     Edwards             7            *            7            *
 26   Effingham            40            6            *           30
 27     Fayette            26           16           23           34
 28        Ford            17            *            *           11
 29    Franklin           152           29          123           34
 30      Fulton           105           19           62           39
 31    Gallatin            12            *            9            *
 32      Greene            27            9           21           14
 33      Grundy            29           41           31           72
 34    Hamilton            17            *           14           12
 35     Hancock            15            *            6           24

     Unnamed: 4    Unnamed: 5
 0       Molina           NaN
 1   Healthcare  County Total
 2          240           555
 3           17            99
 4           40            82
 5           73           285
 6            6            17
 7           69           229
 8           14            40
 9           26           132
 10          34           106
 11         999         1,327
 12          91           211
 13          33           114
 14          14            60
 15          56           100
 16         162           491
 17       2,691        34,879
 18          13            41
 19          20            65
 20          78           106
 21          33           437
 22          66           139
 23         213         4,015
 24          84           186
 25          16            30
 26          80           156
 27          39           138
 28          80           108
 29         153           491
 30         122           347
 31          23            44
 32          31           102
 33          24           197
 34          20            63
 35          24            69  ,
 Empty DataFrame
 Columns: [Unnamed: 0]
 Index: [],
         County  Aetna Better\rHealth Blue Cross/\rBlue Shield\rof Illinois  \
 0       Hardin                     8                                     *
 1    Henderson                     8                                     *
 2        Henry                    83                                    26
 3     Iroquois                    54                                    27
 4      Jackson                   127                                    62
 5       Jasper                    15                                     *
 6    Jefferson                    70                                    15
 7       Jersey                    29                                     7
 8    JoDaviess                    12                                     *
 9      Johnson                    26                                    14
 10        Kane                   429                                   998
 11    Kankakee                   230                                   436
 12     Kendall                    57                                    73
 13        Knox                    67                                    10
 14     LaSalle                   277                                    55
 15        Lake                   411                                 1,047
 16    Lawrence                    26                                     7
 17         Lee                    60                                    26
 18  Livingston                    70                                    17
 19       Logan                    23                                    16
 20       Macon                   176                                    39
 21    Macoupin                    79                                    25
 22     Madison                   253                                    30
 23      Marion                    37                                     *
 24    Marshall                    23                                     *
 25       Mason                    28                                    13
 26      Massac                    23                                    29
 27   McDonough                    53                                     7
 28     McHenry                   135                                   248
 29      McLean                    81                                    23
 30      Menard                     9                                     *
 31      Mercer                    27                                     6
 32      Monroe                    10                                     *
 33  Montgomery                    28                                    20

    Humana\rHealth Plan Meridian\rHealth Plan  Molina\rHealthcare County Total
 0                    *                     *                   7           15
 1                    7                     *                  12           27
 2                   60                    41                  55          265
 3                   44                    45                  88          258
 4                  103                    49                 143          484
 5                   10                     *                  17           42
 6                   32                    54                  83          254
 7                   16                    11                  23           86
 8                    *                    14                  30           56
 9                   18                     8                  20           86
 10                 504                   545                 209        2,685
 11                 171                   126                  28          991
 12                 108                    54                  41          333
 13                  61                    59                 297          494
 14                 182                   127                 206          847
 15                 859                   609                  84        3,010
 16                  19                     *                  45           97
 17                  47                    58                  69          260
 18                  67                    53                  81          288
 19                  16                    25                  55          135
 20                  56                   108                 589          968
 21                  37                    61                  88          290
 22                 111                   272                 414        1,080
 23                  25                    48                  85          195
 24                  12                    12                  21           68
 25                  26                    10                  38          115
 26                  24                    15                  22          113
 27                  58                    37                  56          211
 28                 243                   151                  97          874
 29                 101                    56                 649          910
 30                   6                    11                  21           47
 31                   9                    12                  16           70
 32                   8                     *                   8           26
 33                  18                    24                  68          158  ,
 Empty DataFrame
 Columns: [Unnamed: 0]
 Index: [],
          County Aetna Better\rHealth Blue Cross/\rBlue Shield\rof Illinois  \
 0        Morgan                   38                                    79
 1      Moultrie                    8                                     *
 2          Ogle                   82                                    33
 3        Peoria                  200                                    28
 4         Perry                   25                                    10
 5         Piatt                   15                                     *
 6          Pike                   27                                    17
 7          Pope                    7                                     *
 8       Pulaski                   17                                    11
 9        Putnam                    8                                     *
 10     Randolph                   19                                    30
 11     Richland                   20                                     6
 12   RockIsland                  322                                    79
 13       Saline                   74                                    24
 14     Sangamon                  225                                    83
 15     Schuyler                    *                                     *
 16        Scott                    *                                     *
 17       Shelby                   18                                     6
 18      StClair                  263                                    29
 19        Stark                    6                                     *
 20   Stephenson                   43                                     *
 21     Tazewell                   89                                    12
 22        Union                   64                                    60
 23    Vermilion                   77                                     *
 24       Wabash                   19                                    25
 25       Warren                   41                                     *
 26   Washington                    *                                     *
 27        Wayne                   12                                    16
 28        White                   25                                     9
 29    Whiteside                   95                                    15
 30         Will                  463                                   957
 31   Williamson                  165                                   125
 32    Winnebago                  524                                   102
 33     Woodford                   29                                    11
 34  Grand Total               14,408                                18,470

    Humana\rHealth Plan Meridian\rHealth Plan Molina\rHealthcare County Total
 0                   48                    82                 57          304
 1                    8                    15                 25           56
 2                   59                    52                 62          288
 3                  202                   214                968        1,612
 4                   24                    14                 31          104
 5                    *                    10                 40           65
 6                   11                    35                 39          129
 7                    7                     *                  6           20
 8                   17                     *                 23           68
 9                    *                     *                  *            8
 10                  18                     8                 67          142
 11                  13                    35                 64          138
 12                   *                   177                178          756
 13                  74                    44                101          317
 14                 150                   126                429        1,013
 15                   6                     6                 15           27
 16                   *                    11                  6           17
 17                  22                    13                 44          103
 18                 145                   298                404        1,139
 19                   7                     *                  9           22
 20                  30                   198                 94          365
 21                 115                   100                510          826
 22                  56                    33                 46          259
 23                  52                    85                702          916
 24                   *                     9                  7           60
 25                  27                    19                 48          135
 26                   *                     *                  6            6
 27                  34                    11                 26           99
 28                  31                    16                 34          115
 29                  86                    97                141          434
 30                 602                   523                209        2,754
 31                 216                    36                231          773
 32                 464                   332                479        1,901
 33                  29                    21                 70          160
 34              14,275                14,657             14,620       76,430  ,
     Unnamed: 0    Unnamed: 1              Blue Cross/  Unnamed: 2 Unnamed: 3  \
 0          NaN  Aetna Better     Blue Shield Meridian      Molina      Youth
 1       County        Health  of Illinois Health Plan  Healthcare      Care‡
 2         Cook       104,508          326,084 236,175      78,404      7,887
 3          NaN           NaN                      NaN         NaN        NaN
 4        Adams         1,628              2,586 6,193       1,759        461
 5    Alexander           553                  357 635          96         37
 6         Bond           506                  334 718         806        100
 7        Boone         2,192              2,078 3,173       1,564        133
 8        Brown           137                  193 323          94         23
 9       Bureau         1,556              1,088 2,196         697         92
 10     Calhoun           176                  103 186         215         25
 11     Carroll           421                333 1,217         246         48
 12        Cass           848                  820 934         338         65
 13   Champaign         5,523             3,899 10,204      15,169        726
 14   Christian         1,009              1,994 2,099         742        204
 15       Clark         1,115                536 1,090         216         84
 16        Clay           941                  649 823         290         69
 17     Clinton           532                529 1,113       1,527        117
 18       Coles         2,810              2,240 3,844       1,751        225
 19    Crawford         1,308                286 1,114         473        113
 20  Cumberland           579                  397 531         152         60
 21      DeWitt           659                  372 586         996         95
 22      Dekalb         1,675              9,955 4,177       1,156        213
 23     Douglas           697                487 1,170         688         87
 24      DuPage        11,803            67,581 23,547       6,996        465
 25       Edgar         1,128                700 1,389         562         86
 26     Edwards           376                  228 304         106         27
 27   Effingham         1,640              1,364 1,246         620        160
 28     Fayette         1,154                899 1,323         589        240
 29        Ford           415                  400 468       1,043         71
 30    Franklin         2,759              1,846 3,795       1,497        290
 31      Fulton         1,228                998 1,501       2,162        193
 32    Gallatin           425                  231 391          86         41
 33      Greene           565                  485 819         466        113
 34      Grundy         1,420              1,457 2,934         338         88
 35    Hamilton           410                  255 521         153         56
 36     Hancock           641                628 1,344         171         93

                  Unnamed: 4
 0                       NaN
 1   CountyCare County Total
 2         399,526 1,152,584
 3                       NaN
 4                    12,627
 5                     1,678
 6                     2,464
 7                     9,140
 8                       770
 9                     5,629
 10                      705
 11                    2,265
 12                    3,005
 13                   35,521
 14                    6,048
 15                    3,041
 16                    2,772
 17                    3,818
 18                   10,870
 19                    3,294
 20                    1,719
 21                    2,708
 22                   17,176
 23                    3,129
 24                  110,392
 25                    3,865
 26                    1,041
 27                    5,030
 28                    4,205
 29                    2,397
 30                   10,187
 31                    6,082
 32                    1,174
 33                    2,448
 34                    6,237
 35                    1,395
 36                    2,877  ,
     Unnamed: 0   Aetna  Unnamed: 1              Blue Cross/  Unnamed: 2  \
 0          NaN  Better         NaN     Blue Shield Meridian      Molina
 1       County  Health         NaN  of Illinois Health Plan  Healthcare
 2       Hardin     405         NaN                  165 389          41
 3    Henderson     423         NaN                  149 313         158
 4        Henry   2,041         NaN              1,046 3,264         964
 5     Iroquois     887         NaN              1,346 1,550       1,228
 6      Jackson   3,171         NaN              2,506 4,895       1,981
 7       Jasper     541         NaN                  249 317         160
 8    Jefferson   2,355         NaN              1,714 2,940       1,173
 9       Jersey     650         NaN                  492 836       1,042
 10   JoDaviess     470         NaN                  463 731         621
 11     Johnson     673         NaN                  454 596         234
 12        Kane   9,519         NaN            46,979 25,388       4,773
 13    Kankakee   2,949         NaN             13,027 4,826       1,776